.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border: solid 1px #A1A1A1;
    margin-top: 20px;
    animation: fadeIn 500ms ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.inputGroup {
    position: relative;
    margin-bottom: 20px;
}

.inputBox {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

.input {
    position: absolute;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px #A1A1A1;
    border-radius: 6px;
    font-size: 16px;
    background: rgba(244, 244, 244, 0.824);
    margin-bottom: 10px;
    padding-left: 35px;
    outline: none;
}

.errorInput::placeholder {
    font-weight: 600;
}

.errorInput {
    color: rgb(255, 21, 21);
    border-color: rgb(255, 21, 21);
    animation: A_Placeholder 500ms;
}

@keyframes A_Placeholder {
    0% {
        transform: translateX(20px);
    }
    50% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
    }
}

.inputBox svg {
    color: rgb(134 134 136);
    /* transform: scale(0.7); */
    height: 15px;
    position: absolute;
    left: 10px;
    z-index: 1;

}

.errorIcon {
    color: rgb(255, 21, 21) !important;
}

.sendButton  {
    background: #0274B3;
    color: white;
    height: 50px;
    border-radius: 8px;
    transition: 500ms;
}

.sendButton:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}