.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border: solid 1px #A1A1A1;
    margin-top: 20px;
    text-align: center;
    animation: fadeIn 500ms ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}


.hiddenInput {
    display: none;
}

.loadFileButton {
    width: 100%;
    display: flex;
    border: solid 1px #A1A1A1;
    background: rgba(231, 231, 231, 0.824);
    color: rgb(42, 42, 42);
    height: 50px;
    border-radius: 8px;
    transition: 500ms;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.loadFileButton:hover {
    /* transform: scale(1.02); */
}

.loadFileButton svg {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}


.errorInput::placeholder {
    font-weight: 600;
}

.errorInput {
    color: rgb(255, 21, 21);
    border-color: rgb(255, 21, 21);
    animation: A_Placeholder 500ms;
}

@keyframes A_Placeholder {
    0% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

.errorIcon {
    color: rgb(255, 21, 21) !important;
}

.buttonGroup {
    margin: 0px 0 5px 0;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-column-gap: 10px;
}

.sendButton  {
    background: #0274B3;
    color: white;
    height: 50px;
    border-radius: 8px;
    transition: 500ms;
    cursor: pointer;
}

.sendButton:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

.sendButton:disabled:hover {
    animation: A_ButtonDisabled 500ms ;
    /* transform: none; */
}

.errorButton {
    animation: A_ButtonDisabled 500ms;
}


@keyframes A_ButtonDisabled {
    0% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
        background-color: rgb(255, 168, 168);
    }
    100% {
        transform: translateX(0px);
    }
}

.fullButton {
    grid-template-columns: 1fr;
}

@media (max-width: 700px) {
    .buttonGroup {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    .title {
        font-size: 15px;
    }

    .buttonGroup button {
        font-size: 12px
    };
}


@media (max-width: 330px) {
    .buttonGroup button svg {
        display: none
    };
}
